<html>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <br><br><br><br><br>
    <div id="box">
        <br><br><br>
        <h1>Elige la colección que desea ver</h1>
        <br><br>
        <a href="/usuarios" id="a"><input type="button" value="Usuario" id="input"></a>
        <a href="/productos" id="a"><input type="button" value="Productos" id="input"></a>
        <a href="/empleados" id="a"><input type="button" value="Empleados" id="input"></a>
        <br><br><br><br>
    </div>
</html>