 <!DOCTYPE html>
<html>
    <div id="box">
        <br><br>
        <head>
        <title>Crear Empleado</title>
    </head>
    <body>
        <div class="container" id="div">
            <h3><a href="/empleados">Lista de Empleados</a></h3>
            <h1>Crear Nuevo Empleado</h1>
            <form action="/empleados/save" method="post" id="form">
                <table>
                        <tr>
                            <td id="td">Nombre:</td>
                            <td id="td"><input type="text" name="nombre" id="input1"/></td>
                        </tr>
                        <tr>
                            <td id="td">Apellido:</td>
                            <td id="td"><input type="text" name="apellido" id="input1"/></td>
                        </tr>
                        <tr>
                            <td id="td">DNI:</td>
                            <td id="td"><input type="text" name="dni" id="input1"/></td>
                        </tr>
                        <tr>
                            <td id="td">Celular:</td>
                            <td id="td"><input type="text" name="celular" id="input1"/></td>
                        </tr>
                        <tr>
                            <td id="td">Email:</td>
                            <td id="td"><input type="text" name="email" id="input1"/></td>
                        </tr>
                        <tr>
                            <td id="td">Direccion:</td>
                            <td id="td"><input type="text" name="direccion" id="input1"/></td>
                        </tr>
                        <tr>
                            <td id="td"colspan="2"><input type="submit" value="Grabar" id="grabar" /></td>
                        </tr>

                </table>
            </form>
        </div>
    </body>
    <br><br><br>
    </div>
</html>
