 <!DOCTYPE html>
<html>
    <div id="box">
        <br><br>
        <head>
        <title>Crear Producto</title>
    </head>
    <body>
        <div class="container" id="div">
            <h3><a href="/productos">Lista de Productos</a></h3>
            <h1>Crear Nuevo Producto</h1>
            <form action="/productos/save" method="post" id="form">
                <table>
                    <tbody>
                        <tr>
                            <td id="td">Nombre</td>
                            <td id="td"><input type="text" name="nombre" id="input1"/></td>
                        </tr>
                        <tr>
                            <td id="td">Marca</td>
                            <td id="td"><input type="text" name="marca" id="input1"/></td>
                        </tr>
                        <tr>
                            <td id="td">Stock</td>
                            <td id="td"><input type="text" name="stock" id="input1"/></td>
                        </tr>
                        <tr>
                            <td id="td">Provedor</td>
                            <td id="td"><input type="text" name="provedor" id="input1"/></td>
                        </tr>
                        <tr>
                            <td id="td" colspan="2"><input type="submit" value="Grabar" id="grabar"/></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
    <br><br><br>
    </div>
</html>